@import 'colors';

/**
* Boards
*/

.boards {
	display: flex;
	justify-content: center;
	align-items: center;
}

.all-boards {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(1, 1fr);
	gap: 4rem;
}

.board {
	background-color: $oceanblue;

	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	gap: 1px;
}

.board .board_cell:nth-child(3n) {
	background-color: $oceanblue;
	z-index: 10000;
}

.board_cell {
	background-color: $lightOceanBlue;
	cursor: pointer;
	
	width: 100%;
	aspect-ratio: 1 / 1;
}

.hover_cell {
	opacity: 0.3;
}

.board_yacht {
	background-color: $gold !important;
}

.board_hit {
	background-color: $hit !important;
	cursor: not-allowed;
}

.board_miss {
	// background-color: $miss;
	background-image: url(../images/miss.png);
	background-size: cover;
	cursor: not-allowed;
}

.board_killed {
	background-color: $killed !important;
	cursor: not-allowed;
}

.board_my_yacht_hit {
	background-color: $light_hit !important;
}

.board_my_yacht_miss {
	// background-color: $light_miss;
	background-image: url(../images/miss.png);
	background-size: cover;
}

.board_my_yacht_killed {
	background-color: $light_killed;
}


@media screen and (min-width: 600px) {
	.all-boards {
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media screen and (min-width: 1440px) {
	.all-boards {
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}