@import 'colors';

.chat-container {
	width: 100%;
	height: 110px;
	overflow-y: scroll;
	overscroll-behavior: contain;
}

.chat-input-form {
	width: 100%;
}

.input-form-holder {
	width: 100%;
}

.chat-type {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: normal;
	font-size: 1rem;
}

#chatContainer .my-msg {
	display: flex;
	justify-content: end;

}

#chatContainer .enemy-msg {
	display: flex;
	justify-content: start;
}


// styling for scrollbar i chatten
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
	background: gray;
}