@import 'colors';
@import 'fonts';

/**
* Chat
*/

.chat-container {
	margin: 2rem 0;
}

.chatMsg-container {
	font-family: $standardFont;
	font-weight: 300;
	font-size: 0.8rem;

	width: 100%;
	max-height: 40vh;
	overflow-y: scroll;
	overscroll-behavior: contain;
}

#chatTitle {
	text-align: center;
}

#inputChatMsg {
	border: none;
	border-bottom: 2px solid rgb(0, 0, 0);
	border-radius: none;
	border-radius: 0px;

	font-style: italic;
	font-family: $cursiveFont;
	font-size: 1rem;
	text-align: center;
}

#inputChatMsg::placeholder {
	color: #ae9b8946;
}

#inputChatMsg:focus {
	box-shadow: none;
}

#chat-btn {
	margin: 0;
}

.chat-input-form {
	width: 100%;
}

.input-form-holder {
	width: 100%;
	margin-bottom: 1%;
}

#chatContainer {
	word-wrap: break-word;
}

#chatContainer .my-msg {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	border: none;
}

#chatContainer .enemy-msg {
	display: flex;
	justify-content: flex-start;
}

// styling for scrollbar in chat

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
	background: gray;
	justify-content: flex-start;
	border: none;
}

.msg-holder {
	max-width: 50%;
}

.chat-username {
	font-size: 0.5rem;
	color: $gold;
	margin-bottom: 0;
}

.chat-msg {
	color: white;
	padding: 1rem;
	inline-size: min-content;
	width: 100%;
}

.enemy-msg .chat-msg {
	border-radius: 0 20px 20px 20px;
	background-color: $oceanblue;
}

.my-msg .chat-msg {
	border-radius: 20px 0 20px 20px;
	background-color: $lightOceanBlue;
}

#chatContainer .enemy-msg {
	border: none;
}