/**
* Colours
*/

$oceanblue: #0E5955;
$lightOceanBlue: #1b6b67;

$gold: #AE9B89;

$nav-color: black;
$nav-font-color: white;
$bg-color: rgb(255, 244, 213);

$hit: rgb(236, 154, 0);
$light_hit: rgb(241, 188, 88);

$miss: rgb(212, 212, 37);
$light_miss: rgb(240, 240, 171);

$killed: rgb(187, 64, 64);
$light_killed: rgb(194, 124, 124);