@import 'colors';

footer {
	bottom: 0;
	height: 6vh;
	background-color: black;
	padding: 1em;
	color: white;
	font-family: 'Pinyon Script', cursive;
	font-size: 0.8rem;

	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
}

footer p {
	margin: 0;
}

@media screen and (min-width: 1440px) {
	footer {
		height: 5vh;
	}
}