@import 'colors';

/**
* Generic styles
*/

html,
body,
#root {
	min-height: 100vh;
}

body {
	background-color: $bg-color;
}

.container {
	font-family: 'Pinyon Script', cursive;
	font-weight: 900;
}

h1, h2 {
	font-family: 'Pinyon Script', cursive;
	font-size: 0.9rem;
}

.button {
	border: none;
	border-radius: 10px;
	padding: 0.9rem 1.2rem;
	font-family: 'Pinyon Script', cursive;
	font-weight: 900;
	font-size: 1.2rem;
}

.btn-gold {
	background-color: $gold;
	color: black;

	&:hover {
		background-color: scale-color($gold, $lightness: 10%);
	}
}