@import 'colors';

/**
* Generic styles
*/

html,
body,
#root {
	min-height: 100vh;
}

body {
	background-color: $bg-color;
}

.btn-gold {
	background-color: $gold;
	color: black;

	&:hover {
		background-color: scale-color($gold, $lightness: 10%);
	}
}