
#modalDialog {
	font-family: 'Pinyon Script', cursive;
	font-size: 1.3rem;
}

#countdown .modal-content {
	background-color: transparent;
	border: 0;
}

#countdown .modal-body {
	font-size: 300px;
	color: white;
	font-family: 'Pinyon Script', cursive;
}
#modalTitle {
	text-align: center;
	padding-left: 4%;
	padding-top: 2%;
}

#modalContent {
	margin: 4%;
}