@import 'fonts';
/**
* Modal
*/

.modal-content {
	display: flex;
	align-items: center;
}

#modalManuallyChoose {
	display: flex;
	align-items: center;
	text-align: center;
}

#manuallyChoose {
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 2rem 2rem 1rem;
}

#chooseYachts {
	width: 95%;
}

#chooseYachtMsg {
	padding: 1rem;
	font-family: $cursiveFont;
}

#boardPlaceYachts {
	width: 85%;
}

#modalDialog,
#modalDialogYachts {
	display: flex;
	align-items: center;
	text-align: center;

	top: 20vh;
	font-size: 1rem;
	width: 95%;
}

.btnPlaceYachts {
	display: flex;
	justify-content: space-between;

}

#modalHeader {
	width: 90%;
}

#modalTitle {
	font-family: $cursiveFont;
	text-align: center;
	padding-left: 4%;
	padding-top: 2%;
}

#modalContent,
#modalContentYachts {
	margin: 4%;
	font-family: $standardFont;
}

#modalText {
	font-size: 0.8rem;
}

.yachts-container {
	border: solid 1px $gold;

	display: grid;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(12, 1fr);

	aspect-ratio: 2 / 1;

	gap: 1px;
	margin: 1rem;
}

.yacht-blocked {
	background-color: $killed;
	background-image: url(../images/miss.png);
	background-size: cover;
	cursor: pointer;
}

.yacht-neighbour-blocked {
	background-image: url(../images/miss.png);
	background-size: cover;
	cursor: not-allowed;
}

.inactive {
	opacity: 50%;
}

.vertical_4 {
	background-image: url(../images/yacht4.svg);
	background-size: auto;
	background-repeat: no-repeat;
}

.vertical_3 {
	background-image: url(../images/yacht3.svg);
	background-size: auto;
	background-repeat: no-repeat;
}

.vertical_2 {
	background-image: url(../images/yacht2.svg);
	background-size: auto;
	background-repeat: no-repeat;
}

.horizontal_4 {
	background-image: url(../images/yacht4-h.svg);
	background-size: auto;
	background-repeat: no-repeat;
}

.horizontal_3 {
	background-image: url(../images/yacht3-h.svg);
	background-size: auto;
	background-repeat: no-repeat;
}

.horizontal_2 {
	background-image: url(../images/yacht2-h.svg);
	background-size: auto;
	background-repeat: no-repeat;
}

@media screen and (min-width: 600px) {
	#modalManuallyChoose {
		max-width: 90%;
		width: 90%;
	}

	#manuallyChoose {
		flex-direction: row;
	}

	#chooseYachts {
		width: 60%;
	}

	#boardPlaceYachts {
		width: 40%;
	}

	#modalDialog,
	#modalDialogYachts {
		width: 60%;
	}
}