@import 'colors';

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	color: $nav-font-color;
}

.logo h1 {
	font-size: 1.7rem;
}

.navbar {
	background-color: $nav-color;
	height: 12vh;
	padding: 1rem;
}

.navbar a {
	display: flex;
	align-items: center;

}

.navbar a:hover {
	color: $gold;
}

.navbar a h1 {
	margin-bottom: 0;
}

@media screen and (min-width: 600px) {
	.navbar {
		height: 10vh;
		padding: 0.8rem;
	}
}

@media screen and (min-width: 1440px) {
	.navbar {
		height: 8vh;
		padding: 0.5rem;
	}
}