@import 'colors';

.logo {
	color: $nav-font-color;
}

.logo h1 {
	font-size: 1.7rem;
}

.navbar {
	background-color: $nav-color;
	height: 15vh;
	padding: 1rem;
}

.navbar a {
	display: flex;
	align-items: center;

}

.navbar a h1 {
	margin-bottom: 0;
}