@import 'colors';

.result-container {
	width: 60%;
	height: 100%;
	border: solid 1px $gold;
	margin: 4% auto;

	padding: 2%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.result-container p {
	color: black;
}