.result-container {
	width: 60%;
	height: auto;
	background-color: royalblue;
	margin: 4% auto;
	
	padding: 2%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.result-container p {
	color: white;
}